.twitter-blue{
    color: #1DA1F2 ;
    text-align: center;
}

.logo { 
    display: block;
    height: 5rem;
    margin: auto;
}

button{
    background-color: rgba(137, 43, 226, 0.5);
    display: block;
    width: 100px;
    margin: auto;
    padding: 0.5rem;
}