.room {
    width: 600px;
    height: 450px;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #4e5663;
}

.light-button {
    margin-top: 30px;
}